<!doctype html>
<html lang="en">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>{{ page.title }}</title>
  <link rel="alternate home" href="{{site.production_url}}/posts.atom" title="posts">
  <link rel="alternate home"
    href="https://github.com/kjell/leanside.com/commits/gh-pages.atom"
    title="all site changes">
  <link rel="stylesheet" href="/css/leanside.css">
  <link rel="stylesheet" href="/css/solarized-light/syntax.css">
<body style="cursor: wait;">

{{ content }}
